.dropdown {
  h3 {
    font-weight: 600;
    font-size: $fontSize-dropdown-title;
  }
  .title {
    @include between-flex;
    height: $dropdown-title-height;
    cursor: pointer;
    padding: 10px 20px 10px 15px;
    color: $tertiary-color;
    background-color: $primary-color;
    border-radius: $radius3;
  }

  .arrow {
    transition: transform 0.3s ease-in-out;
  }

  .arrow.open {
    transform: rotate(180deg);
  }

  .content {
    background-color: $fourty-color-light;
    padding: 10px;
    font-size: $fontSize-dropdown-content;
    border-bottom-left-radius: $radius3;
    border-bottom-right-radius: $radius3;
  }
}
