footer {
  @include center-flex;
  flex-direction: column;
  gap: 50px;
  background-color: $secondary-color;

  p {
    color: $tertiary-color;
    @media (max-width: 425px) {
      width: 40%;
      text-align: center;
    }
  }
}
