.header{
    max-width: 1240px;
    @include between-flex;
    margin: auto;
    @media (max-width: 768px) {
        img {
          width: 145px;
          font-size: 4vw;
        }
    
        li{
          font-size: 4vw;
        }
      }
}