.notFound {
  height: 50vh;
  margin: 100px;
  @include center-flex;
  flex-direction: column;

  gap: 50px;
  .text-error {
    color: $primary-color;
    font-size: $fontSize-text-error;
  }
  a {
    font-size: $fontSize-backHome-error;
    text-decoration: underline;
    text-align: center;
  }
  @media (max-width: 768px) {
    margin: 100px 40px;

    p {
      text-align: center;
      font-size: 18px !important;
    }
    a {
      font-size: 14px;
    }
    img {
      width: 100%;
    }
  }
}
