.result {
  width: 1240px;
  margin: auto;

  .wrapper-blocs {
    @include between-flex;
  }
  .content-caption {
    h2 {
      font-size: $fontSize-result-title;
      color: $primary-color;
      font-weight: 500;
    }
    ul {
      display: flex;
      gap: 20px;
      li {
        font-size: $fontSize-result-tag;
        background-color: $primary-color;
        color: $tertiary-color;
        padding: 5px 10px;
        border-radius: $radius2;
      }
    }
    p {
      font-size: $fontSize-result-identity;
      font-weight: 500;
    }
  }
  .content-profile{

      .identity {
        @include center-flex;
        gap: 20px;
        // margin: 20px;
        img {
          border-radius: 50%;
        }
        p {
          color: $primary-color;
          font-size: $fontSize-result-identity;
          font-weight: 500;
        }
      }
      .rating{
        text-align:end;
        margin: 15px 0;
      }
  }
  .info-details {
    display: flex;
    gap: 40px;
    .dropdown {
      width: 100%;
    }
  }
}
