// Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

//Body
body {
  font-family: $fontFamily-primary, sans-serif;
  margin: auto;
  padding-top: 50px;
}
.App {
  padding: 50px 70px;
  @media (max-width: 768px) {
    padding: 30px 20px;
  }
  @media (max-width: 425px) {
    padding: 10px;
  }
}
// List styling
ul {
  list-style: none;
  padding: 0;
}

//links
a {
  text-decoration: none;
  color: inherit;
}
