// Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

//Body
body {
  font-family: $fontFamily-primary, sans-serif;
  width: 1440px;
  background-color: $secondary-color;
  margin: auto;
  padding-top: 50px;
}
.App {
  background-color: $tertiary-color;
  padding: 50px 70px;
}
// List styling
ul {
  list-style: none;
  padding: 0;
}

//links
a {
  text-decoration: none;
  color: inherit;
}
