@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  background-color: #000000;
  margin: auto;
  padding-top: 50px;
}

.App {
  background-color: #ffffff;
  padding: 50px 70px;
}
@media (max-width: 768px) {
  .App {
    padding: 30px 20px;
  }
}
@media (max-width: 425px) {
  .App {
    padding: 10px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.home-container {
  max-width: 1240px;
  margin: auto;
}
.home-container .banner-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(12vw + 111px);
  transition: height 0.5s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../public/images/home.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 1.5rem;
  margin: 40px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.home-container .banner-home h1 {
  color: #ffffff;
}
@media (max-width: 767px) {
  .home-container .banner-home {
    height: 111px;
    margin: 40px 0;
  }
}
.home-container .main-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px;
  background-color: #e3e3e3;
  border-radius: 1.5rem;
  padding: 60px;
}
.home-container .main-cards-wrapper .card {
  position: relative;
  width: 340px;
  height: 340px;
  background-color: #ff6060;
  border-radius: 0.625rem;
  transition: box-shadow 0.3s, transform 0.3s;
  margin: auto;
}
.home-container .main-cards-wrapper .card figure {
  width: 330px;
  height: 330px;
  margin: auto;
  padding: 5px 0;
}
.home-container .main-cards-wrapper .card img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.home-container .main-cards-wrapper .card figcaption {
  padding: 5px;
  color: #ffffff;
}
.home-container .main-cards-wrapper .card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}
@media (max-width: 500px) {
  .home-container h1 {
    font-size: 1.7rem;
  }
  .home-container .main-cards-wrapper {
    padding: 10px 0;
  }
}
@media (max-width: 390px) {
  .home-container .banner-home {
    justify-content: start;
  }
  .home-container h1 {
    width: 250px;
    padding: 10px;
    text-align: start;
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .home-container .main-cards-wrapper {
    padding: 8px 1px;
  }
  .home-container .main-cards-wrapper .card {
    width: 290px !important;
    height: 290px !important;
  }
  .home-container .main-cards-wrapper .card figure {
    width: 290px !important;
    height: 290px !important;
    padding: 4px !important;
  }
}

.about-container {
  max-width: 1240px;
  margin: auto;
}
.about-container .banner-about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(12vw + 111px);
  transition: height 0.5s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../public/images/about.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 1.5rem;
  margin: 40px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.about-container .banner-about h1 {
  color: #ffffff;
}
@media (max-width: 767px) {
  .about-container .banner-about {
    height: 111px;
    margin: 40px 0;
  }
}
.about-container section {
  max-width: 1023px;
  margin: auto;
}
.about-container article {
  margin: 30px auto;
}

.result {
  max-width: 1240px;
  margin: auto;
}
.result article {
  margin: 40px 0;
}
.result .wrapper-blocs {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 926px) {
  .result .wrapper-blocs {
    flex-wrap: wrap;
    gap: 0;
  }
}
.result .content-caption h2 {
  font-size: 2.25rem;
  color: #ff6060;
  font-weight: 500;
  margin-block-start: inherit;
}
.result .content-caption ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.result .content-caption ul li {
  font-size: 1rem;
  background-color: #ff6060;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 0.625rem;
}
.result .content-caption p {
  font-size: 1.2rem;
  font-weight: 500;
}
.result .content-profile .identity {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.result .content-profile .identity img {
  border-radius: 50%;
}
.result .content-profile .identity p {
  color: #ff6060;
  font-size: 1.2rem;
  font-weight: 500;
}
.result .content-profile .rating {
  text-align: end;
  margin: 15px 0;
}
@media (max-width: 926px) {
  .result .content-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .result .content-profile .rating {
    order: 1;
  }
  .result .content-profile .identity {
    order: 2;
  }
}
@media (max-width: 460px) {
  .result .content-profile .rating img {
    width: 20px;
  }
  .result .content-profile .identity img {
    width: 20%;
  }
  .result .content-profile .identity p {
    font-size: 14px;
  }
}
@media (max-width: 374px) {
  .result .content-profile .rating img {
    width: 15px;
  }
}
.result .info-details {
  display: flex;
  gap: 40px;
}
.result .info-details .dropdown {
  width: 100%;
}
@media (max-width: 926px) {
  .result .info-details {
    flex-direction: column;
  }
}

.notFound {
  height: 50vh;
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.notFound .text-error {
  color: #ff6060;
  font-size: 2.25rem;
}
.notFound a {
  font-size: 1.2rem;
  text-decoration: underline;
  text-align: center;
}
@media (max-width: 768px) {
  .notFound {
    margin: 100px 40px;
  }
  .notFound p {
    text-align: center;
    font-size: 18px !important;
  }
  .notFound a {
    font-size: 14px;
  }
  .notFound img {
    width: 100%;
  }
}

nav a.active {
  border-bottom: 5px solid #ff6060;
}
@media (max-width: 375px) {
  nav a.active {
    border-bottom: 3px solid #ff6060;
  }
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 425px) {
  nav ul {
    gap: 15px;
  }
}
nav li {
  font-size: 1.5rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  background-color: #000000;
}
footer p {
  color: #ffffff;
}
@media (max-width: 425px) {
  footer p {
    width: 40%;
    text-align: center;
  }
}

.header {
  max-width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
@media (max-width: 768px) {
  .header img {
    width: 145px;
    font-size: 4vw;
  }
  .header li {
    font-size: 4vw;
  }
}

.dropdown h3 {
  font-weight: 600;
  font-size: 1.125rem;
}
.dropdown .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.25rem;
  cursor: pointer;
  padding: 10px 20px 10px 15px;
  color: #ffffff;
  background-color: #ff6060;
  border-radius: 0.31rem;
}
.dropdown .arrow {
  transition: transform 0.3s ease-in-out;
}
.dropdown .arrow.open {
  transform: rotate(180deg);
}
.dropdown .content {
  background-color: #f6f6f6;
  padding: 10px;
  font-size: 1.2rem;
  border-bottom-left-radius: 0.31rem;
  border-bottom-right-radius: 0.31rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.carousel {
  position: relative;
  max-width: 1240px;
  height: 415px;
  overflow: hidden;
  border-radius: 0.625rem;
}
.carousel .hero-image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.625rem;
}
.carousel .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.carousel .left {
  left: 10px;
}
.carousel .right {
  right: 10px;
}
@media (max-width: 768px) {
  .carousel .arrow-img {
    width: 50%;
  }
  .carousel .left {
    left: -30px;
  }
  .carousel .right {
    right: -30px;
  }
}
.carousel .count {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
@media (max-width: 425px) {
  .carousel .count {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */