@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

//COLOR
$primary-color: #ff6060;
$secondary-color: #000000;
$tertiary-color: #ffffff;
$fourty-color: #e3e3e3;
$fourty-color-light: #f6f6f6;

//FONT-FAMILY
$fontFamily-primary: "Montserrat";

//FONT-SIZE
$fontSize-nav-tab: 1.5rem;
$fontSize-dropdown-title: 1.125rem;
$fontSize-dropdown-content: 1.2rem;
$fontSize-carousel-count: 1.5rem;
$fontSize-result-title: 2.25rem;
$fontSize-result-identity: 1.2rem;
$fontSize-result-tag: 1rem;
$fontSize-text-error: 2.25rem;
$fontSize-backHome-error: 1.2rem;

//RADIUS
$radius1: 1.5rem;
$radius2: 0.625rem;
$radius3: 0.31rem;

//SIZE
$dropdown-title-height: 3.25rem;
